# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
.bolt
.idea

# dependencies
**/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
**/.next/

# production
**/build
**/packages/snappi/dist

# misc
.DS_Store
*.pem

# debug
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

# env files - ignore in any directory
**/.env
**/.env.*
**/.env*.local
# vercel
**/.vercel

# typescript
*.tsbuildinfo
**/next-env.d.ts
**/out

apps/storybook-demo/.snappi/diffs/*
apps/storybook-demo/.snappi/tests/*